---
import { MetaData } from "../globalVars";
const { link } = Astro.props;

const mainColor = MetaData.Colours.MainColour
const backgroundColor = MetaData.Colours.BackgroundColour
---

<a href={link} class="card" target="_blank" rel="noopener">
  <slot />
</a>

<style define:vars={{mainColor, backgroundColor}}> 
  .card {
    color: var(--backgroundColor);
    font-weight: bold;
    display: block;
    text-transform: capitalize;
    border: 5px solid #1c1c1c;
    text-decoration: none;
    background-color: var(--mainColor);
    padding: 8px 20px;
    margin-bottom: 16px;
    position: relative;
    line-height: 1.5;
    letter-spacing: 1.5px;
    width: 100%;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: initial, initial;
    transition-delay: initial, initial;
    transition-property: box-shadow;
  }

  .card:hover {
    box-shadow: rgba(132, 8, 132, 0.25) -8px 4px 20px 0px;
  }
</style>
