<title>Quinn Pollock</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width initial-scale=1"/>
<meta name="description" content="Quinn Pollock's links on the Internet"/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@holopollock" />
<meta name="twitter:creator" content="@holopollock"/>
<meta name="twitter:title" content="Quinn Pollock's Links"/>
<meta name="twitter:description" content="Quinn Pollock's links on the Internet"/>
<meta name="twitter:image" content="https://holopollock.net/assets/img/quinn_icon.jpg" />
<meta name="twitter:image:alt" content="Quinn Pollocks links on the Internet"/>
<meta property="og:title" content="Quinn Pollock's Links" />
<meta property="og:description" content="Quinn Pollock's links on the Internet"/>
<meta property="og:image" content="https://holopollock.net/assets/img/quinn_icon.jpg"/>
<meta property="og:url" content="https://holopollock.net" />
<meta property="og:image:secure_url" content="https://holopollock.net/assets/img/quinn_icon.jpg"/>
<meta property="og:image:alt" content="Quinn Pollock's Links"/>
<meta property="profile:username" content="holopollock" />
<link rel="canonical" href="holopollock.net"/>
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<style global>
@font-face {
  font-family: 'Main';
  src: url('/assets/fonts/SharpSans-Bold.ttf') format('woff2'),
    url('/assets/fonts/SharpSans-Bold.woff') format('woff'),
    url('/assets/fonts/SharpSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Main';
  src: url('/assets/fonts/SharpSans-Book.woff2') format('woff2'),
    url('/assets/fonts/SharpSans-Book.woff') format('woff'),
    url('/assets/fonts/SharpSans-Book.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
    font-family: "Main", sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background: rgb(240, 240, 240);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}
</style>