---
import Instagram from './Instagram.astro'
import Twitter from './Twitter.astro'
import Tiktok from './Tiktok.astro';
const { twitterLink, instagramLink, tiktokLink } = Astro.props

---

<div class="card">
	{twitterLink &&
	<Twitter link={twitterLink} />}
	{instagramLink &&
	<Instagram link={instagramLink} />}
	{tiktokLink &&
	<Tiktok link={tiktokLink} />}
</div>

<style>
	.card {
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-top: 8px;
	}
</style>