---
const {link} = Astro.props
---

<a href={link} target="_blank">
<svg viewBox="0 0 506 500" fill="none" width="32px" height="32px" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M 388.839 350.171 C 361.212 367.091 329.358 380.386 293.28 390.053 C 253.21 400.789 215.442 405.094 179.978 402.965 C 144.514 400.837 114.296 391.585 89.33 375.211 C 64.366 358.836 47.532 334.417 38.835 301.952 C 30.085 269.302 32.44 239.693 45.9 213.122 C 59.359 186.55 80.937 163.569 110.636 144.18 C 140.335 124.789 175.22 109.726 215.288 98.989 C 255.174 88.303 292.791 83.987 328.137 86.049 C 351.886 87.434 373.306 92.023 392.402 99.814 C 401.724 103.623 410.494 108.191 418.708 113.526 C 443.742 129.782 460.609 154.142 469.309 186.608 C 478.005 219.071 475.594 248.647 462.067 275.336 C 460.176 279.063 458.13 282.722 455.926 286.313 C 454.369 279.302 451.243 273.192 446.547 267.976 C 444.242 265.418 441.681 263.065 438.858 260.923 C 433.08 256.539 426.221 253.03 418.28 250.397 C 406.458 246.479 393.287 244.522 378.765 244.522 C 364.174 244.522 350.954 246.462 339.097 250.347 C 327.242 254.231 317.82 260.074 310.829 267.875 C 303.837 275.677 300.343 285.522 300.343 297.411 C 300.343 309.23 303.837 319.059 310.829 326.894 C 317.82 334.73 327.242 340.625 339.097 344.575 C 350.954 348.525 364.174 350.502 378.765 350.502 C 382.197 350.502 385.555 350.393 388.839 350.171 Z M 262.451 329.124 C 259.684 332.096 254.803 335.251 247.811 338.597 C 240.819 341.94 232.394 344.76 222.532 347.058 C 212.67 349.354 202.065 350.502 190.716 350.502 C 180.788 350.502 171.062 349.54 161.537 347.615 C 152.015 345.689 143.402 342.633 135.7 338.445 C 128 334.257 121.869 328.786 117.311 322.031 C 112.752 315.277 110.472 307.07 110.472 297.411 C 110.472 287.616 112.752 279.343 117.311 272.588 C 121.869 265.833 128 260.394 135.7 256.273 C 143.402 252.154 152.015 249.166 161.537 247.308 C 171.062 245.45 180.788 244.522 190.716 244.522 C 202.133 244.522 212.67 245.534 222.329 247.562 C 231.988 249.588 240.28 252.239 247.203 255.515 C 254.127 258.79 259.143 262.287 262.25 265.999 L 236.31 283.023 C 232.528 278.902 226.788 275.609 219.088 273.144 C 211.386 270.677 202.032 269.446 191.023 269.446 C 185.619 269.446 180.164 269.867 174.658 270.712 C 169.152 271.555 164.103 272.992 159.511 275.017 C 154.917 277.044 151.218 279.881 148.416 283.531 C 145.613 287.176 144.21 291.804 144.21 297.411 C 144.21 302.949 145.613 307.524 148.416 311.139 C 151.218 314.751 154.917 317.624 159.511 319.751 C 164.103 321.879 169.152 323.382 174.658 324.26 C 180.164 325.138 185.619 325.578 191.023 325.578 C 201.829 325.578 211.203 324.227 219.138 321.524 C 227.073 318.823 232.665 315.715 235.905 312.203 L 262.451 329.124 Z M 378.765 325.172 C 392.881 325.172 403.824 322.638 411.593 317.572 C 419.361 312.507 423.245 305.786 423.245 297.411 C 423.245 288.832 419.343 282.092 411.541 277.196 C 403.739 272.299 392.814 269.852 378.765 269.852 C 364.646 269.852 353.654 272.299 345.785 277.196 C 337.917 282.092 333.982 288.832 333.982 297.411 C 333.982 305.92 337.917 312.675 345.785 317.675 C 353.654 322.673 364.646 325.172 378.765 325.172 Z" style="fill: rgba(0, 0, 0, 0); stroke: rgb(0, 0, 0); stroke-width: 15px;"/>
  </svg>
</a>

<style>
svg {
    height: 32px;
    width: 32px;
    pointer-events: none;
}

a {
    transition: transform 0s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    text-decoration: none;
}

a:hover svg {
    transform: scale(1.075);
}
</style>