---
const { link } = Astro.props
---
<a href={link} rel="me" target="_blank">
<svg viewBox="0 0 216.4144 232.00976" width="32px" height="32px" xmlns="http://www.w3.org/2000/svg">
    <path d="M 197.042 135.984 C 194.361 149.772 173.037 164.862 148.546 167.787 C 135.775 169.311 123.2 170.711 109.792 170.096 C 87.864 169.092 70.562 164.862 70.562 164.862 C 70.562 166.997 70.693 169.029 70.957 170.93 C 73.807 192.571 92.415 193.867 110.041 194.472 C 127.831 195.08 143.672 190.085 143.672 190.085 L 144.403 206.169 C 144.403 206.169 131.959 212.85 109.792 214.079 C 97.569 214.751 82.391 213.772 64.714 209.093 C 26.374 198.945 19.781 158.077 18.772 116.61 C 18.464 104.298 18.654 92.688 18.654 82.979 C 18.654 40.576 46.436 28.147 46.436 28.147 C 60.444 21.714 84.482 19.008 109.471 18.804 L 110.085 18.804 C 135.074 19.008 159.127 21.714 173.135 28.147 C 173.135 28.147 200.916 40.576 200.916 82.979 C 200.916 82.979 201.265 114.263 197.042 135.984" style="fill: rgba(255, 255, 255, 0); stroke: rgb(0, 0, 0); stroke-width: 8px;"/>
    <path d="M 168.146 86.268 L 168.146 137.61 L 147.805 137.61 L 147.805 87.777 C 147.805 77.272 143.385 71.94 134.545 71.94 C 124.77 71.94 119.871 78.265 119.871 90.772 L 119.871 118.049 L 99.65 118.049 L 99.65 90.772 C 99.65 78.265 94.75 71.94 84.975 71.94 C 76.134 71.94 71.714 77.272 71.714 87.777 L 71.714 137.61 L 51.373 137.61 L 51.373 86.268 C 51.373 75.775 54.045 67.436 59.411 61.267 C 64.945 55.098 72.193 51.936 81.19 51.936 C 91.599 51.936 99.481 55.936 104.693 63.939 L 109.76 72.432 L 114.827 63.939 C 120.038 55.936 127.921 51.936 138.331 51.936 C 147.326 51.936 154.574 55.098 160.109 61.267 C 165.475 67.436 168.146 75.775 168.146 86.268" style="fill: rgba(255, 255, 255, 0); stroke: rgb(0, 0, 0); stroke-width: 8px;"/>
  </svg>
</a>

<style>
    svg {
        pointer-events: none;
    }

    a {
        transition: transform 0s cubic-bezier(0.23, 1, 0.32, 1) 0s;
        text-decoration: none;
    }

    a:hover svg {
        transform: scale(1.075);
    }
</style>